.printer{
    text-decoration: solid;
    font-size: larger;

}
.bestmoves{
    display: flex;
    flex-direction:  row;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 90%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    overflow: auto;
}