.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    height: 100vh;
  }
  

  .futuristic-button {
    background-color: #333333;
    border: 2px solid #ff1100;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff1100;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    margin-top: 100px;
  }
  
  .futuristic-button:hover {
    background-color: #ff1100;
    color: black;
  }
  
  .futuristic-button.large {
    width: 200px;
    height: 50px;
  }

